
$poppin:'Poppins', sans-serif;
$playfair:'Playfair Display', serif;


$border-color:#f5f5f5;
$heading-font-size:30px;
$text-fontsize:18px;
$text-lineheight:36px;
$text-color:#4b4f54;
$form-heading-fontsize:24px;

$comment-info-font-size:14px;
$form-textsize:15px;
$bottom-border-color:#e4eee3;
$form-bgcolor:#efefef;
$form-input-color:#b1b6a0;
$form-input-fontsize:14px;
$form-input-lineheight:25px;
$form-btn-bgcolor:#eac5c3;
$form-btn-fontsize:16px;
$form-btn-color:#444444;

$np-font-size:14px;


/////////
$profile-font-size:24px;
$profile-color:#f79ea4;
$profile-textfont:16px;


//////
$picks-SubHeadingText:16px;
$picks-SubHeadingTextLineHieght:30px;
$picks-border-color:#abb098;

////////////
$footer-bg-color:#f9f6f1;
$footer-color: #26282b;
$footer-fontsize:18px; 
$footer-bottom-bg-color:#2e3f43;
$footer-bottom-color:#ffff;
$footer-bottom-font-size:12px;